<div class="container" ng-controller="MainCtrl">
	<h1>My Twitter</h1>

	<div class="row">
		<div class="col-xs-12">
			<button ng-click="connect()" id="connectButton" type="button" class="btn btn-primary">サインイン</button>
			<button ng-click="refresh()" id="getTimelineButton" type="button" class="btn btn-info">更新</button>
			<button ng-click="signOut()" id="signOut" type="button" class="btn btn-link">サインアウト</button>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-12" id="results">
			<div class="row well" ng-repeat="tweet in tweets">
				<div class="col-xs-2">
					<img ng-src="{{tweet.user.profile_image_url}}" class="img-circle">
				</div>
				<div class="col-xs-10">
					<small>{{tweet.user.name}}</small>
					<br> <span ng-bind-html="tweet.text"></span>
				</div>
			</div>
		</div>
	</div>
</div>