<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" ng-show="tweet.showTweet">
			<form class="well" name="tweetForm" ng-submit="tweet.submit()" novalidate role="form">
				<div class="form-group">
					<label for="tweet">Tweet Text</label>
					<textarea class="form-control" name="tweet" ng-maxlength="140" ng-model="tweet.inputText" ng-required="true" placeholder="tweeeeeeeeeeeeeeeeeeet"></textarea>
					<div ng-if="tweetForm.tweet.$dirty" ng-messages="tweetForm.tweet.$error" role="alert">
						<div ng-message="required">入力は必須です。</div>
						<div ng-message="maxlength">入力は１４０文字までです。</div>
					</div>
				</div>
				<button class="btn btn-primary" ng-disabled="tweetForm.$invalid" type="submit" value="Save">つぶやく</button>
			</form>
		</div>
	</div>
</div>